* {
  padding: 0;
  margin: 0;
}
#mainn {
  max-width: 1300px;
  margin: auto;
}
.text-theme {
  color: rgb(20, 52, 85);
}
.bg-theme {
  background-color: rgb(20, 52, 85) !important;
}

.card-head {
  position: relative;
}
.text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(20, 52, 85, 0.5);
  color: white;
  padding: 8px;
}
